.mission-card {
  width: 100%;
  height: 100%;
}

.mission-card .card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission-card .card-heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mission-card .card-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mission-card .card-body ul {
  list-style: none;
}

.mission-card .card-body ul li {
  border: 1px solid black;
}
